@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&display=swap');

.container-Mainn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
    min-height: 100vh;
}

.ListCardTitle{
    margin-top: 1rem;
    margin-bottom: auto;
    font-family: 'Rubik Moonrocks';
    font-size: 50px;
}

.IMGG{
    max-height:217.35px;
    min-height: 217.35px;
}

.C-Card{
    margin-bottom: 0.5rem;
    font-family: 'Alumni sans';
    font-weight: bold;
    max-height: 443.34px;
}

.DT-LINK{
    text-decoration: none;
}

.card-MAX{
    min-height: 443.34px;
    max-height: 443.34px;
}

