.container-Mainn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
    min-height: 100vh;
    margin-top: 2rem;
}

.IMGG{
    max-height:217.35px;
    min-height: 217.35px;
}

.C-Card{
    margin-bottom: 0.5rem;
}

.DT-LINK{
    text-decoration: none;
}
