.App{
  background-image: linear-gradient(to bottom right, #ABDCFF, #0396FF);
  text-align: center;
}

.Title{
 padding-top: 2rem;
  font-family: 'Rubik Moonrocks';
  font-size: 60px;
  text-shadow: -2px -2px #0396FF;
} 


